<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/css/all.min.css">
    <link rel="stylesheet" href="/public/assets/basket.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto+Mono:wght@100;400&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="../../public/assets/images/All_in_one_logo.png">
        <ul>
            <li><a href="/about">About us</a></li>
            <li><a href="./">Products</a></li>
            <% if(user_id === undefined) { %>
                <li><a href="./login">Sign in</a></li>
            <% } else { %>
                <li>
                    <form action="/logout/<%= user_id %>" method="get">
                        <input type="submit" value="Logout"></input>
                    </form>
                </li>
            <% } %>
            <% if(user_id !== undefined) { %>
                <li><a href="/basket"><i class="fa-sharp fa-solid fa-basket-shopping fa-lg"></i>
                        <%= numeberOfItemsInBasket %></a>
                </li>
            <% } %>
        </ul>
        <div class="dropDownContainer">
            <i class="fa-sharp fa-solid fa-bars fa-2xl"></i>
        
            <div class="dropDownList">
                <ul class="dropDownListOpation">
                    <li class="dropDownLink"><a href="/about">About us</a></li>
                    <li class="dropDownLink"><a href="./">Products</a></li>
                    <% if(user_id === undefined) { %>
                        <li class="dropDownLink"><a href="./login">Sign in</a></li>
                    <% } else { %>
                        <li class="dropDownLink">
                            <form action="/logout/<%= user_id %>" method="get">
                                <input class="logoutDropDown" type="submit" value="Logout"></input>
                            </form>
                        </li>
                    <% } %>
                    <% if(user_id !== undefined) { %>
                        <li class="dropDownLink"><a href="/basket"><i class="fa-sharp fa-solid fa-basket-shopping fa-lg"></i>
                                <%= numeberOfItemsInBasket %></a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <div class="basket_container">
        <% if(user_id === undefined) { %>
            <div class="basket_message">
                <p>Sorry, you must sign in to your account in order to see your basket.</p>
                <p><a href="./login">Sign in here</a></p>
            </div>
        <% } else { %>
            <div class="basket_checkout">
                <div class="inner_Basket_checkout">
                    <p>Discount none</p>
                    <p>Shipping Price £5.00</p>
                    <p>Total Price £<%= basket_list.reduce((a, b) => a + (b['productData']['price'] * b['quantity']), 0).toFixed(2) %></p>
                    <button>Check Out</button>
                </div>
            </div>
            <div class="basket_list_container">
                <% if(basket_list.length > 0) { %>
                    <% basket_list.forEach((item) => { %>
                        <div class="basket_item">
                            <div class="basket_image">
                                <img src="<%= item['productData']['image'] %>">
                            </div> 
                            <div class="basket_item_container">
                                <div class="basket_item_data">
                                <div class="basket_information">
                                    <h2><%= item['productData']['title'] %></h2>
                                    <p>Price : £<%= (item['productData']['price'] * item['quantity']).toFixed(2)  %></p>
                                    <button onclick="addItem('<%= item.productId %>')"><i class="fa-sharp fa-solid fa-plus fa-xl"></i></button>
                                    <form action="/basket/update_product_quntity/<%= item['productId'] %>" method="post">
                                        <input onclick="inputChange" class='quantityValue <%= item['productId']%>' id="<%= item['productId']%>" value="<%= item['quantity'] %>" name="newQuntity" type="number" min="0" max="100">
                                        <input class="submit<%= item['productId'] %> submitButtonStyle" type="submit" value="Update" disabled="disabled">
                                    </form>
                                    <button onclick="reduceItem('<%= item.productId %>')"><i class="fa-sharp fa-solid fa-minus fa-xl"></i></button>
                                </div>
                                <form class="basket_navigation" action="/basket/delete_item/<%= item['productId']%>" method="get">
                                    <button><i class="fa-sharp fa-solid fa-trash fa-xl"></i></button>
                                </form>
                            </div>
                            </div>
                        </div>
                    <% }) %>
                <% } else {%>
                    <div class="empty_basket">
                        <p>Your basket is empty</p>
                    </div>
                <% } %>
            </div>
        <% } %>
    </div>
    <% if(basket_list.length > 2) {%>
    <div class="basket_checkout_bottom">
        <div class="inner_Basket_checkout">
            <p>Discount none</p>
            <p>Shipping Price £5.00</p>
            <p>Total Price <%= basket_list.reduce((a, b) => a + (b['productData']['price'] * b['quantity']), 0) %></p>
            <button>Check Out</button>
        </div>
    </div>
    <% } %>
    <footer>
        <div class="footerContainer">
            <h2>All For One</h2>
            <div class="footerContainerLists">
            <div class="footerInfoList">
                <ul>
                    <li class="footerListHeader">About Us</li>
                    <li>Our Mission</li>
                    <li>Are Products</li>
                    <li>Future Plans</li>
                </ul>
            </div>
            <div class="footerInfoList">
                <ul>
                    <li class="footerListHeader">Products</li>
                    <li>Woman's Clothing</li>
                    <li>Men's Clothing</li>
                    <li>Jewelery</li>
                    <li>Electronics</li>
                </ul>
            </div>
            <div class="footerInfoList">
                <ul>
                    <li class="footerListHeader">Help</li>
                    <li>Help Center</li>
                    <li>Community Guildelines</li>
                    <li>Terms and Conditions</li>
                </ul>
            </div>
        </div>
        </div>
    </footer>
</body>
    <script>
        let storeObjectId = {}
       function addItem(id){
        document.getElementById(`${id}`).value++
        if(storeObjectId[`${id}`] === undefined){
            storeObjectId[`${id}`] = Number(document.getElementById(`${id}`).value - 1)
            document.querySelector(`.submit${id}`).disabled = false
        } else if(storeObjectId[`${id}`] !== undefined && storeObjectId[`${id}`] === Number(document.getElementById(`${id}`).value)) {
            document.querySelector(`.submit${id}`).disabled = true
        } else if(storeObjectId[`${id}`] !== undefined && storeObjectId[`${id}`] !== Number(document.getElementById(`${id}`).value)){
            document.querySelector(`.submit${id}`).disabled = false
        }
       }

       function reduceItem(id){
        document.getElementById(`${id}`).value--
        if(storeObjectId[`${id}`] === undefined){
            storeObjectId[`${id}`] = Number(document.getElementById(`${id}`).value + 1)
            document.querySelector(`.submit${id}`).disabled = false
        } else if(storeObjectId[`${id}`] !== undefined && storeObjectId[`${id}`] === Number(document.getElementById(`${id}`).value)) {
            document.querySelector(`.submit${id}`).disabled = true
        } else if(storeObjectId[`${id}`] !== undefined && storeObjectId[`${id}`] !== Number(document.getElementById(`${id}`).value)){
            document.querySelector(`.submit${id}`).disabled = false
        }   
       }

    </script>
</html>