<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto+Mono:wght@100;400&display=swap" rel="stylesheet">
    <title>Home Page</title>
</head>
<body>
    <nav>
        <img src="../../public/assets/images/All_in_one_logo.png">
        <ul>
            <li>About us</li>
            <li>Whats new</li>
            <% if(user_id === undefined) { %>
                <li><a href="./login">Sign in</a></li>
            <% } else { %>
                <li>
                    <form action="/logout/<%= user_id %>" method="get">
                        <input type="submit" value="Submit"></input>
                    </form>
                </li>
            <% } %>
            <li>Basket</li>
        </ul>
    </nav>
<section class="product_section">
    <h2>All Products</h2> 
    <form action="/" method="post">
        <select name="categories">
            <% categorie_data.forEach((item) => { %>
                <option value="<%= item %>"><%= item %></option>
            <% }) %>
        </select>
        <input type="submit" value="Submit">
    </form>
    <div class="contaner_boreder">
        <div class="contaner_product">
            <% products_data.forEach((item) => { %>
                <form action="/product/<%= item['id'] %>" method="get"> 
                <button type="submit" value="Submit">
                <div class="product_card">
                    <img src="<%= item['image'] %>"> 
                    <div class="product_card_info">
                        <p id="item_header"><%= item['title'] %></p>
                        <p>Rating : <%= item['rating']['rate'] %></p>
                        <p>£ <%= item['price']%></p>
                    </div>
                </div>
                </button>
                </form>
            <%  }) %>
        </div>
    </div>
</section>
</body>
</html>