<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/css/all.min.css">
    <link rel="stylesheet" href="/public/assets/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto+Mono:wght@100;400&display=swap" rel="stylesheet">
    <title>Home Page</title>
</head>
<body>
    <nav>
        <img src="../../public/assets/images/All_in_one_logo.png">
        <ul>
            <li>About us</li>
            <li><a href="./">Products</a></li>
            <% if(user_id === undefined) { %>
                <li><a href="./login">Sign in</a></li>
            <% } else { %>
                <li>
                    <form action="/logout/<%= user_id %>" method="get">
                        <input type="submit" value="Logout"></input>
                    </form>
                </li>
            <% } %>
            <li><a href="./basket"><i class="fa-sharp fa-solid fa-basket-shopping fa-lg"></i>
                <% if(user_id !== undefined) { %>
                    <%= numeberOfItemsInBasket %></a>
                <% } %>
            </li>
        </ul>
    </nav>
<section class="product_section">

    <div class="product_section_container_header_form">
        <h2><%= categorie_name %></h2> 
        <form action="/" method="post">
            <label class="form_search_categories"><p>Categories</p></label>
            <select name="categories">
                <% categorie_data.forEach((item) => { %>
                    <option value="<%= item %>"><%= item %></option>
                <% }) %>
            </select>
            <button type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass fa-lg"></i></button>
        </form>
    </div>
    
    <div class="contaner_boreder">
        <div class="contaner_product">
            <% products_data.forEach((item) => { %>
                <form action="/product/<%= item['id'] %>" method="get"> 
                <button type="submit" value="Submit">
                <div class="product_card">
                    <img src="<%= item['image'] %>"> 
                    <div class="product_card_info">
                        <p id="item_header"><%= item['title'] %></p>
                        <p>£ <%= item['price'].toFixed(2) %></p>
                        <div class="rating_product_container">
                            <% for(let i = 0; i < Math.round(item['rating']['rate']); i++ ) { %>
                                <i class="fa-sharp fa-solid fa-star" style="color: #75A681;"></i>
                            <% } %>
                            <p id="number_of_ratings"><%= item['rating']['count'] %></p>
                        </div>
                    </div>
                </div>
                </button>
                </form>
            <%  }) %>
        </div>
    </div>
</section>
</body>
</html>