<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/css/all.min.css">
    <link rel="stylesheet" href="/public/assets/product_page.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto+Mono:wght@100;400&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="../../public/assets/images/All_in_one_logo.png">
        <ul>
            <li>About us</li>
            <li><a href="/">Products</a></li>
            <% if(user_id === undefined) { %>
                <li><a href="/login">Sign in</a></li>
            <% } else { %>
                <li>
                    <form action="/logout/<%= user_id %>" method="get">
                        <input type="submit" value="Logout"></input>
                    </form>
                </li>
            <% } %>
            <% if(user_id !== undefined) { %>
            <li><a href="/basket"><i class="fa-sharp fa-solid fa-basket-shopping fa-lg"></i>
                    <%= numeberOfItemsInBasket %></a>
            </li>
            <% } %>
        </ul>
    </nav>
    <div class="product_layout_page">
        <img src="<%= product_data['image']%>" alt="product_image">
        <div class="product_info">
            <h2><%= product_data['title'] %></h2>
            <p><%= product_data['description'] %></p>
            <p>£ <%= product_data['price'] %></p>
            <p>Rating : <%= product_data['rating']['rate'] %></p>
            <p>Number of ratings <%= product_data['rating']['count'] %></p>
            <% if(user_id !== undefined) {%>
            
             <div class="formContainer">
                    <form action="/add_product_to_basket/<%= product_data['id'] %>" method="post">
                        <button onclick="addItem(); return false;"><i class="fa-sharp fa-solid fa-plus fa-xl"></i></button>
                        <input value="1" class='quantityValue' id="<%= product_data['id']%>" name="product_puantity" type="number" min="1" max="100">
                        <button onclick="reduceItem(); return false;"><i class="fa-sharp fa-solid fa-minus fa-xl"></i></button>
                        <input class="submit<%= product_data['productId'] %> submitButtonStyle" type="submit" value="Add to basket">
                    </form>
                    
                <% } %>
            </div>   
        </div>
    </div>
    <footer>
        <div class="footerContainer">
            <h2>All For One</h2>
            <div class="footerContainerLists">
            <div class="footerInfoList">
                <ul>
                    <li class="footerListHeader">About Us</li>
                    <li>Our Mission</li>
                    <li>Are Products</li>
                    <li>Future Plans</li>
                </ul>
            </div>
            <div class="footerInfoList">
                <ul>
                    <li class="footerListHeader">Products</li>
                    <li>Woman's Clothing</li>
                    <li>Men's Clothing</li>
                    <li>Jewelery</li>
                    <li>Electronics</li>
                </ul>
            </div>
            <div class="footerInfoList">
                <ul>
                    <li class="footerListHeader">Help</li>
                    <li>Help Center</li>
                    <li>Community Guildelines</li>
                    <li>Terms and Conditions</li>
                </ul>
            </div>
        </div>
        </div>
    </footer>
</body>
    <script>

        function addItem(){
            document.querySelector('.quantityValue').value++
        }

        function reduceItem(){
            if(document.querySelector('.quantityValue').value > 1){
                document.querySelector('.quantityValue').value--
            }
        }
    </script>
</html>